@import '/styles/mixins';
@import '/styles/colors.scss';

.layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__container{
    position: sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $headerHeight;
    background-color: $dark-theme-color;
    @include desktop {
      padding-right: 3em;
    }
  }

  &__body{
    flex: 1;
  }
}

.desktop{
  display: flex;
  height: 100%;
  gap: 1em;
  cursor: pointer;
  font-size: 20px;
  align-items: center;
}