@import '../GifMakerContainer/styles.module.scss';

.inputField{
  padding: 1em 0;
  display: grid;
  gap: 1em;

  input, select {
    padding: 1em;
    border-radius: 7px;
    outline: none;
    border: none;
  }
}

.resutWrapper{
  padding-bottom: 2em;
}

.resultImageWrapper{
  text-align: center;

  img{
    width: 90%;
    aspect-ratio: 9/12;
  }
}