@import '/styles/mixins';
@import '/styles/colors.scss';

.formWrapper {
  padding: 1em;
  
  display: flex;
  gap: 1em;
  flex-direction: column;
  
  .fileContainer {
    padding: 1em;
    border: 1px dashed $dark-theme-primary-color;
    border-radius: 7px;
  }
}

.addMore{
  display: flex;
  justify-content: center;
}